<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if error}}
{{{error}}}
      {{/if}}
       <div id="brim">
                    <!-- form -->
                </div>
    {{{body}}}
  <script type="text/javascript" src="/javascripts/main.js"></script></body>
</html>