<div class="page-inner login-page">
                    <div id="main-wrapper" class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 login-box">
                                <h4 class="login-title">Sign in to your account</h4>
                                    {{#if error}}
                                     <h3> {{{error}}}  </h3> 
                                    {{/if}}
                                <form action="/login" method="post" >
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" class="form-control" id="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" class="form-control" id="password">
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                      Login
                                    </button>
                                    <a href="/register" class="btn btn-default">Register</a><br>
                                    <a href="/password-reset" class="forgot-link">Forgot password?</a>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

