
<div class="page-inner login-page">
                    <div id="main-wrapper" class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 login-box">
                                <h4 class="login-title">Create an account</h4>
                                <form>
                                    <div class="form-group">
                                        <label for="first">First name</label>
                                        <input type="text" class="form-control" id="first">
                                    </div>
                                    <div class="form-group">
                                        <label for="last">Last name</label>
                                        <input type="text" class="form-control" id="last">
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" class="form-control" id="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" class="form-control" id="password">
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                    <a href="/login" class="btn btn-default">Login</a><br>
                                    <a href="index.html" class="forgot-link">Forgot password?</a>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
