<!-- slider-area-start -->
<div class="h6-slider-area">
    <video src="/assets/video/people.mp4" autoplay="" loop=""></video>
    <div class="h6-slider-full">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
                    <div class="h5-slider-content">
                        <h2 class="title">Grow Your Business With Us</h2>
                        <h1 class="cd-headline clip">
                            <span class="blc">We Create </span>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Value</b>
                                <b>Dream</b>
                                <b>Confidence</b>
                            </span>
                        </h1>
                        {{!-- <p class="text">There are many variations of passages of Lorem Ipsum available but the majority to have to suffered
                            alteration injected humour.</p>
                        <a class="more" href="#">Read More
                            <span>
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </a> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top-agency-area-start -->
{{!-- <div class="top-agency-area" id="_top_agency">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>Welcome To Us</h6>
                    <h2>Top Consulting Agency</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="top-agencey-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-gears"></span>
                                </div>
                                <h6 class="name">Good Approach</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-creativity"></span>
                                </div>
                                <h6 class="name">Great Ideas</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-piggy-bank"></span>
                                </div>
                                <h6 class="name">Save Money</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-puzzle"></span>
                                </div>
                                <h6 class="name">Easy Customize</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-folder"></span>
                                </div>
                                <h6 class="name">Detailed Report</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="single-top-agency">
                                <div class="icon">
                                    <span class="flaticon-megaphone"></span>
                                </div>
                                <h6 class="name">Marketing Plan</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="top-agency-img">
                    <img src="/assets/img/home1/top-agency-banner.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- top-agency-area-end -->
<!-- welcome-area-start -->
{{!-- <div class="welcome-area">
    <div class="welcome-banner d-none d-lg-block"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-1 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>What We Do</h6>
                    <h2>Welcome To Our Consulting Agency</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="welcome-faq">
                    <div class="accordion" id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">illustration The right team for your project.</button>
                            </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    There are many variations of passages of Lorem Ipsum available but the about majority a have suffered alteration in some form by injected humour or that a randomised even slightly believable.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">We Are help you to Grow your Business</button>
                            </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    There are many variations of passages of Lorem Ipsum available but the about majority a have suffered alteration in some form by injected humour or that a randomised even slightly believable.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">The Perfect SaaS and WebApp Template.</button>
                            </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    There are many variations of passages of Lorem Ipsum available but the about majority a have suffered alteration in some form by injected humour or that a randomised even slightly believable.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Awesome, Clean, Poweful and Creative!</button>
                            </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    There are many variations of passages of Lorem Ipsum available but the about majority a have suffered alteration in some form by injected humour or that a randomised even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wf-contact">
                        <p class="text">Contact Us <span><i class="fas fa-angle-right"></i></span></p>
                        <a class="phone" href="tel:02-0106537070"><span><i class="fas fa-phone-volume"></i></span> 02-010 653 7070</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- welcome-area-end -->

<!-- how-to-area-start -->
{{!-- <div class="how-to-area">
    <div class="how-to-banner"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 col-md-8 offset-md-4 col-sm-12 col-12">
                <div class="how-to-content">
                    <div class="section-title">
                        <h6>How We Work</h6>
                        <h2>4 Steps To Make your Successful Business</h2>
                    </div>
                    <div class="how-to-box">
                        <div class="icon">
                            <span class="flaticon-increasing-stocks-graphic-of-bars"></span>
                        </div>
                        <div class="content">
                            <h5 class="name">Analize Business</h5>
                            <p class="text">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration. Lorem Ipsum available but the dummy majorityLorem Ipsum available but the majority</p>
                        </div>
                    </div>
                    <div class="how-to-box">
                        <div class="icon">
                            <span class="flaticon-gestures"></span>
                        </div>
                        <div class="content">
                            <h5 class="name">Advice Business Plan</h5>
                            <p class="text">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration. Lorem Ipsum available but the dummy majorityLorem Ipsum available .</p>
                        </div>
                    </div>
                    <div class="how-to-box">
                        <div class="icon">
                            <span class="flaticon-strategical-planning"></span>
                        </div>
                        <div class="content">
                            <h5 class="name">Strategic Business Plan</h5>
                            <p class="text">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration.</p>
                        </div>
                    </div>
                    <div class="how-to-box">
                        <div class="icon">
                            <span class="flaticon-exam"></span>
                        </div>
                        <div class="content">
                            <h5 class="name">Results of Business Plan</h5>
                            <p class="text">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration. Lorem Ipsum available but the dummy bmajorityLorem Ipsum available but the majority done.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- how-to-area-end -->
<br>
<!-- counter-area-start -->
{{!-- <div class="counter-area bg-with-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>Gain a Success With Us!</h6>
                    <h2>Doing the right thing, at the right time.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="all-counter">
                    <div class="counter-box">
                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">417</h2>
                        <p class="text">Cases Completed</p>
                    </div>
                    <div class="counter-box">
                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">39</h2>
                        <p class="text">Consultants</p>
                    </div>
                    <div class="counter-box">
                        <h2 class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">168</h2>
                        <p class="text">Awards Winning</p>
                    </div>
                    <div class="counter-box">
                        <h2 class="counter"><span class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">100 </span>%</h2>
                        <p class="text">Satisfied Customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- counter-area-end -->
<!-- pricing-area-start -->
{{!-- <div class="pricing-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>Packages</h6>
                    <h2>Our Pricing Plans</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="single-pricing">
                    <div class="top">
                        <h2 class="name">Basic</h2>
                        <h5 class="type">Consulting Pack</h5>
                    </div>
                    <div class="price">
                        <h2 class="tag"><span>$</span>59</h2>
                    </div>
                    <div class="bottom">
                        <ul class="feature">
                            <li>Business Analyzing</li>
                            <li>Operational Excellence</li>
                            <li>Knowledge Management</li>
                            <li>Business Idea Ready</li>
                        </ul>
                        <div class="buy">
                            <a class="button" href="25_index-6.html#">Buy this Plan</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="single-pricing active">
                    <div class="top">
                        <p class="popular">Popular Pack</p>
                        <h2 class="name">Standard</h2>
                        <h5 class="type">Consulting Pack</h5>
                    </div>
                    <div class="price">
                        <h2 class="tag"><span>$</span>89</h2>
                    </div>
                    <div class="bottom">
                        <ul class="feature">
                            <li>Full Business Analyzing</li>
                            <li>Next Generation Accounting</li>
                            <li>Online staff training sessions</li>
                            <li>Business Idea Ready</li>
                        </ul>
                        <div class="buy">
                            <a class="button" href="25_index-6.html#">Buy this Plan</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-8 offset-sm-2 col-12">
                <div class="single-pricing">
                    <div class="top">
                        <h2 class="name">Complete</h2>
                        <h5 class="type">Consulting Pack</h5>
                    </div>
                    <div class="price">
                        <h2 class="tag"><span>$</span>99</h2>
                    </div>
                    <div class="bottom">
                        <ul class="feature">
                            <li>Digital Transformation</li>
                            <li>Supply Chain Optimization</li>
                            <li>Management + People Strategy</li>
                            <li>Business Idea Ready</li>
                        </ul>
                        <div class="buy">
                            <a class="button" href="25_index-6.html#">Buy this Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- pricing-area-end -->
<!-- testimonial-area-start -->
{{!-- <div class="testimonial-area bg-with-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>With Respect To Each Client</h6>
                    <h2>We Appreciate Clients</h2>
                </div>
            </div>
        </div>
        <div class="testimonial-carousel owl-carousel">
            <div class="testimonial-box">
                <div class="content">
                    <h2 class="title">“Great Service”</h2>
                    <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority is have to suffered alteration in some form by injected humour, or randomised words a which don't an look even slightly believable.</p>
                </div>
                <div class="author">
                    <div class="img">
                        <img src="/assets/img/home1/testi-author-1.jpg" alt="">
                    </div>
                    <div class="details">
                        <h4 class="name">John Nikcevic</h4>
                        <p class="desg">Director</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="content">
                    <h2 class="title">“Helpful Advisors”</h2>
                    <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority is have to suffered alteration in some form by injected humour, or randomised words a which don't an look even slightly believable.</p>
                </div>
                <div class="author">
                    <div class="img">
                        <img src="/assets/img/home1/testi-author-2.jpg" alt="">
                    </div>
                    <div class="details">
                        <h4 class="name">Julia Renvoye</h4>
                        <p class="desg">Engineer</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="content">
                    <h2 class="title">“Great Service”</h2>
                    <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority is have to suffered alteration in some form by injected humour, or randomised words a which don't an look even slightly believable.</p>
                </div>
                <div class="author">
                    <div class="img">
                        <img src="/assets/img/home1/testi-author-3.jpg" alt="">
                    </div>
                    <div class="details">
                        <h4 class="name">John Nikcevic</h4>
                        <p class="desg">Director</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="content">
                    <h2 class="title">“Helpful Advisors”</h2>
                    <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority is have to suffered alteration in some form by injected humour, or randomised words a which don't an look even slightly believable.</p>
                </div>
                <div class="author">
                    <div class="img">
                        <img src="/assets/img/home1/testi-author-2.jpg" alt="">
                    </div>
                    <div class="details">
                        <h4 class="name">Julia Renvoye</h4>
                        <p class="desg">Engineer</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="content">
                    <h2 class="title">“Great Service”</h2>
                    <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority is have to suffered alteration in some form by injected humour, or randomised words a which don't an look even slightly believable.</p>
                </div>
                <div class="author">
                    <div class="img">
                        <img src="/assets/img/home1/testi-author-1.jpg" alt="">
                    </div>
                    <div class="details">
                        <h4 class="name">John Nikcevic</h4>
                        <p class="desg">Director</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="content">
                    <h2 class="title">“Helpful Advisors”</h2>
                    <p class="text">There are many variations of passages of Lorem Ipsum available, but the majority is have to suffered alteration in some form by injected humour, or randomised words a which don't an look even slightly believable.</p>
                </div>
                <div class="author">
                    <div class="img">
                        <img src="/assets/img/home1/testi-author-3.jpg" alt="">
                    </div>
                    <div class="details">
                        <h4 class="name">Julia Renvoye</h4>
                        <p class="desg">Engineer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- testimonial-area-end -->
<!-- brands-area-start -->
{{!-- <div class="brands-area">
    <div class="container">
        <div class="brand-carousel owl-carousel">
            <div class="single-brand">
                <img src="/assets/img/home1/brand-1.png" alt="">
            </div>
        
            <div class="single-brand">
                <img src="/assets/img/home1/brand-2.png" alt="">
            </div>
        
            <div class="single-brand">
                <img src="/assets/img/home1/brand-3.png" alt="">
            </div>
        
            <div class="single-brand">
                <img src="/assets/img/home1/brand-4.png" alt="">
            </div>
        
            <div class="single-brand">
                <img src="/assets/img/home1/brand-5.png" alt="">
            </div>
        
            <div class="single-brand">
                <img src="/assets/img/home1/brand-6.png" alt="">
            </div>
        </div>
    </div>
</div> --}}
<!-- brands-area-end -->
<!-- contact-details-area-start -->
{{!-- <div class="contact-details-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="all-contact-details">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="single-contact-details">
                                <div class="icon">
                                    <span class="flaticon-placeholder"></span>
                                </div>
                                <h4 class="title">Our Address</h4>
                                <p class="desc">Level 13, 2 Elizabeth St,</p>
                                <p class="desc">Melbourne, Victoria 3000</p>
                                <a class="link" href="https://www.google.com.bd/maps/@40.703949,-74.0025883,12.71z?hl=bn" target="_blank">Directions</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="single-contact-details">
                                <div class="icon">
                                    <span class="flaticon-message"></span>
                                </div>
                                <h4 class="title">Email Address</h4>
                                <a class="desc" href="mailto:Support@My.website.com">Support@My.website.com</a>
                                <a class="desc" href="tel:+00-015-152-1002">Phone: +00-015-152-1002</a>
                                <a class="link" href="mailto:Support@My.website.com" target="_blank">Send a Message</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-12">
                            <div class="single-contact-details">
                                <div class="icon">
                                    <span class="flaticon-group"></span>
                                </div>
                                <h4 class="title">Our Support</h4>
                                <a class="desc" href="tel:+00-015-152-1002">Phone: +00-015-152-1002</a>
                                <a class="desc" href="fax:+358.555.1234567">Fax: +01-215-152-0020</a>
                                <a class="link" href="25_index-6.html#" target="_blank">Open a Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<!-- contact-details-area-end -->
<!-- map-start -->
{{!-- <div class="map-area">
    <div class="gmap">
        <div id="googleMap"></div>
    </div>
</div> --}}
<!-- map-end -->
<!-- question-area-start -->
{{!-- <div class="question-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-12">
                <div class="section-title">
                    <h6>Write a Message</h6>
                    <h2>Have Any Questions?</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which even slightly believable.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="question-form-area">
                    <div class="cf-msg"></div>
                    <form action="http://pluginspoint.com/demo/consult-vita-preview/consult-vita/mail.php" method="post" id="cf">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="cf-box">
                                    <input type="text" placeholder="Name" id="fname" name="fname">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="cf-box">
                                    <input type="text" placeholder="Email" id="email" name="email">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="cf-box">
                                    <textarea class="contact-textarea" placeholder="Message" id="msg" name="msg"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="cf-box">
                                    <button id="submit" class="cont-submit btn-contact" name="submit">SEND MESSAGE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="question-form-img">
                    <img src="/assets/img/home1/question-banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div> --}}