<header>
    <div class="header-upper-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 d-none d-md-block col-md-5">
                    <div class="lang-time">
                        <div class="lt-language d-none d-xl-block">
                            <p class="current">Languages</p>
                            <ul class="list">
                                <li>
                                    <a href="#">English</a>
                                </li>
                            </ul>
                        </div>
                        <div class="lt-time">
                            {{!-- <p class="time">
                                <span>
                                    <i class="far fa-clock"></i>
                                </span> Mon - Sat 8.00 - 18.00. Sunday CLOSED</p> --}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 col-md-7 col-12">
                    <div class="address-phone">
                        <div class="ap-address">
                            <p class="address">
                                <span>
                                    <i class="fas fa-map-marker-alt"></i>
                                </span> Unit 701, 7th floor, Re-Insurance House, Marina Lagos Island, Lagos Nigeria.</p>
                        </div>
                        <div class="ap-phone">
                            <p class="phone">
                                <span>
                                    <i class="fas fa-phone"></i>
                                </span>
                                +234 (0) 708 895 7111
                            </p>

                            <p class="phone">
                                <span>
                                    <i class="fas fa-phone"></i>
                                </span> 
                                +234 (0) 909 391 6879
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12 col-md-12 col-12">
                    <div class="header-social">
                        <ul>
                            <li>
                                <a href="25_index-6.html#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="25_index-6.html#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="25_index-6.html#" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="25_index-6.html#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="25_index-6.html#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-12 col-12">
                    <div class="logo">
                        <a href="/">
                        {{!-- <h3>CUBE700</h3> --}}
                            <img src="/assets/img/logo.jpg" style=" height: 60px;" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-0 col-md-8 offset-md-2 col-sm-12 offset-sm-0 col-12">
                    <div class="menu">
                        <nav id="mobile_menu_active">
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                {{!-- <li>
                                    <a href="/about">About Us</a>
                                </li>
                                <li>
                                    <a href="/about">About Us</a>
                                </li> --}}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 col-12">
                    <div class="search-consultant">
                        {{!-- <div class="sc-search">
                            <span data-toggle="modal" data-target="#search_modal">
                                <i class="fa fa-search"></i>
                            </span>
                            <!-- search-modal-start -->
                            <div id="search_modal" class="search-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <h4 class="modal-title">Type and Press Enter</h4>
                                        <form action="25_index-6.html#">
                                            <input type="text" placeholder="Search Here">
                                        </form>
                                        <div class="modal-close">
                                            <button type="button" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- search-modal-end -->
                        </div> --}}

                        <div class="sc-consultant">
                            <div class="link" data-toggle="modal" data-target="#login"> Login</div>
                        </div>
                        <div class="sc-consultant">
                            <a class="link" href="/store/register">Register Store</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-sm-12 col-12">
        <div class="sc-consultant">
            <!-- search-modal-start -->
            <div id="login" class="search-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <h3 class="modal-title">Provide Your Login Details To Login</h3>
                        <form action="/login" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="cf-box">
                                        <input type="text" name="username" placeholder="Username..." class="form-username form-control">
                                    </div>
                                </div>
                                {{!-- <div class="col-lg-3 col-sm-12 col-12">offset-sm-4 --}}
                                <div class="col-sm-4 offset-sm-4">
                                    <div class="sc-login-box">
                                        <input type="password" name="password" placeholder="Password..." class="form-password form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-style-1">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="modal-close">
                            <button type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- search-modal-end -->
        </div>
    </div>
</header>